---
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: WebKit
ColumnLimit: 160
UseTab: Always
TabWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
---
